<div clas="footer-view">
    <footer class="footer">
        <p>Check-in|Check-out brought to you by Team Awesome!</p>
    </footer>
    <div id="edit-open-check-in-fbtn-container" class="fbtn-container hidden">
        <div class="fbtn-inner">
            <a id="open-check-in-floating-button" class="fbtn fbtn-red fbtn-lg" data-toggle="dropdown"><span class="fbtn-ori icon">{{resource "openEntryLogIcon"}}</span></a>
            <div class="fbtn-dropdown">
                <a class="fbtn fbtn-alt" href="#"><span class="icon">{{resource "editIcon"}}</span></a>
                <a class="fbtn fbtn-blue" href="#"><span class="icon">{{resource "checkOutIcon"}}</span></a>
            </div>
        </div>
    </div>
    <div id="ad-hoc-check-in-fbtn-container" class="fbtn-container hidden">
        <div class="fbtn-inner">
            <a id="ad-hoc-check-in-floating-button" class="fbtn fbtn-green fbtn-lg"><span class="fbtn-text">{{resource "adHocButtonText"}}</span><span class="fbtn-ori icon">{{resource "adHocIcon"}}</span></a>
        </div>
    </div>
</div>
