<footer id="footer">
    <ul class="tabs">
        <li id="go-to-my-identity-container" class="tab-title">
            <a id="go-to-my-identity-button" data-identity-id href="#"><i class="fa fa-user"></i>{{resource "goToMyIdentityButtonText"}}</a>
        </li>
        <li id="go-to-my-open-check-in-container" class="tab-title hidden">
            <a id="go-to-my-open-check-in-button" class="open-check-in" data-locus-id href="#"><i class="fa fa-map-marker"></i>{{resource "goToMyIdentityButtonText"}}</a>
        </li>
        <li class="tab-title active">
            <a id="go-to-locus-search-button" href="#"><i class="fa fa-map-marker"></i>{{resource "goToLocusSearchButtonText"}}</a>
        </li>
        <li class="tab-title">
            <a id="go-to-identity-search-button" href="#"><i class="fa fa-users"></i>{{resource "goToIdentitySearchButtonText"}}</a>
        </li>
        <li class="tab-title">
            <a id="go-to-ad-hoc-entry-button" href="#"><i class="fa fa-pencil-square-o"></i>{{resource "goToAdHocEntryButtonText"}}</a>
        </li>
        <li class="tab-title">
            <a id="go-to-settings-button" href="#"><i class="fa fa-gear"></i>{{resource "goToSettingsButtonText"}}</a>
        </li>
    </ul>
</footer>