<div class="locus-search-view content">
    <div class="content-heading">
        <div class="container">
            <h1 class="heading">{{resource "locusSearchViewHeaderText"}}</h1>
        </div>
    </div>
    <div class="content-inner">
        <div class="container">
            <nav class="tab-nav tab-nav-alt">
                <ul class="nav nav-justified">
                    <li>
                        <a id="search-by-alphabetic-button" class="waves-color-alt waves-effect" data-toggle="tab" href="#" tabindex="0">{{resource "alphabeticButtonText"}}</a>
                    </li>
                    <li class="active">
                        <a id="search-by-nearby-button" class="waves-color-alt waves-effect" data-toggle="tab" href="#" tabindex="0">{{resource "nearbyButtonText"}}</a>
                    </li>
                    <li>
                        <a id="search-by-favorites-button" class="waves-color-alt waves-effect" data-toggle="tab" href="#" tabindex="0">{{resource "favoritesButtonText"}}</a>
                    </li>
                </ul>
            </nav>
            <div id="search-query-input-container" class="form-group form-group-label form-group-alt hidden">
                <label class="floating-label" for="search-query-input">{{resource "searchQueryPlaceholder"}}</label>
                <input id="search-query-input" class="form-control" type="search" placeholder='{{resource "searchQueryPlaceholder"}}' spellcheck="false" autocomplete="off" autocorrect="off" autocapitalization="off"/>
            </div>
            <div class="search-results-container">
            </div>
        </div>
    </div>
</div>