<div class="locus-search-view content">
    <div class="content-heading">
        <div class="container">
            <h1 id="locus-name-label" class="heading">{{locusName}}</h1>
        </div>
    </div>
    <div class="content-inner">
        <div class="container">
            <h2 class="content-sub-heading">{{resource "locusDetailViewHeaderText"}}</h2>

            <div class="card-wrap">

                <div class="card">
                    <aside class="card-side pull-left">
                        <span class="card-heading icon">{{resource "infoIcon"}}</span>
                    </aside>
                    <div class="card-main">
                        <div class="card-inner">
                            <span id="region-name-label"></span>
                        </div>
                        <div class="card-inner">
                            <span id="area-name-label"></span>
                        </div>
                        <div class="card-inner">
                            <span id="distance-label"></span>
                        </div>
                        <div class="card-inner">
                            <span id="phone-label"></span>
                        </div>
                    </div>
                </div>

                <div id="lock-container" class="card red-card hidden">
                    <aside class="card-side card-side-img pull-left">
                        <img alt='{{resource "lockImageAlt"}}' src='{{resource "lockImageSrc"}}'>
                    </aside>
                    <div class="card-main">
                        <div class="card-inner">
                            <p class="card-heading">{{resource "lockHeaderText"}}</p>

                            <p id="lock-detail-label"></p>
                        </div>
                        <div class="card-action">
                            <ul class="nav nav-list pull-left">
                                <li>
                                    <a id="call-coordinator-button" href="#" tabindex="0">{{resource "callCoordinatorButtonText"}}<span class="icon icon-lg">{{resource "callIcon"}}</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div id="check-out-container" class="card card-blue hidden">
                    <div class="card-main">
                        <div class="card-inner">
                            <p class="card-heading text-blue">{{resource "currentCheckInHeaderText"}}</p>

                            <p id="current-check-in-label"></p>
                        </div>
                        <div class="card-action">
                            <a id="go-to-edit-check-in-button" class="btn btn-flat btn-blue waves-button waves-effect" href="#" tabindex="0">{{resource "editCheckInButtonText"}}<span class="icon icon-lg">{{resource "editCheckInIcon"}}</span></a>
                            <a id="go-to-check-out-button" class="btn btn-flat btn-red waves-button waves-effect" href="#" tabindex="0">{{resource "checkOutButtonText"}}<span class="icon icon-lg">{{resource "checkOutIcon"}}</span></a>
                        </div>
                    </div>
                </div>


                <div id="check-in-container" class="card card-green">
                    <a id="go-to-check-in-button" class="card-side pull-left" href="#" tabindex="0"><span class="icon icon-lg">{{resource "checkInIcon"}}</span></a>

                    <div class="card-main">
                        <div class="card-inner">
                            <p class="card-heading text-green">{{resource "checkInHeaderText"}}</p>
                        </div>
                    </div>
                </div>


                <div id="open-check-in-container" class="card blue-card hidden">
                    <a id="go-to-open-check-in-button" class="card-side pull-left" href="#" tabindex="0"><span class="card-heading">{{resource "goToOpenCheckInButtonText"}}</span></a>

                    <div class="card-main">
                        <div class="card-inner">
                            <p id="open-check-in-label" class="card-heading"></p>
                        </div>
                        <div class="card-action">
                            <ul class="nav nav-list pull-left">
                                <li>
                                    <a id="go-to-check-out-button" href="#" data-entry-log-id tabindex="0">{{resource "directionsButtonText"}}<span class="icon icon-lg">{{resource "directionsIcon"}}</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
            <div id="open-entry-log-collection-view-container">
            </div>
            <div id="recent-entry-log-collection-view-container">
            </div>
        </div>
    </div>
</div>